$textcolor1: #343333;

$color1opacity30: #009DF130;
$color1opacity42: #009DF142;
$color1opacity60: #009DF160;



$fontLato: "Lato", sans-serif;
$fontPTSerif: "PT Serif", serif;
$fontRaleway: "Raleway", sans-serif;
$fonteAleo: 'Aleo', serif;
// $primaryfont: "Barlow", sans-serif;
// $primaryfont: "Proxima-Nova", sans-serif;
// $primaryfont: "Inter", sans-serif;
$primaryfont: "Lato", sans-serif;
// $vesterbro: 'try-vesterbro-regular', sans-serif;
$vesterbro: 'try-vesterbro', sans-serif;

$color1: #009DF1;

$color1opacity30: #009DF130;
$color1opacity42: #009DF142;
$color1opacity60: #009DF160;

$color2: #76CEFD;
$color3: #343333;

// $primaryfont: "Lato", sans-serif;
// $primaryfont: "Barlow", sans-serif;